*.env
*/__pycache__
/.vscode/
/.idea/
/.DS_Store
.ipynb_checkpoints
*.pyc
*.pem
.terraform/
*.tfstate
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan
*.tfstate.d
*.tfignore
*.tfvars.json
*.tfplan.json
*.tfstate.json
*.tfstate.backup.json
*.tfstate.d.json
*.tfvars.yaml
*.tfplan.yaml
*.tfstate.yaml
*.tfstate.backup.yaml
*.tfvars.yml
*.tfplan.yml
*.tfstate.yml
*.tfstate.backup.yml
*.tfstate.d.yml
*terraform.lock.hcl
*.tf.lock.hcl
*.tfstate.lock.hcl
*.tfstate.d.lock.hcl
*.tfvars.lock.hcl
*.tfplan.lock.hcl
*.tfstate.json.lock.hcl
*.tfvars.json.lock.hcl
*/.terraform.tfstate.lock.info
ansible/hosts.ini
*.ipynb