tensorflow==2.19.0
tavily-python==0.4.0
Jinja2==3.1.6
networkx==3.4.2
ipykernel 
ipython 
transformers==4.52.4
python-dotenv==1.0.1
notion-client==2.4.0
keras==3.10.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langchainhub==0.1.21
langgraph==0.2.19
langgraph-checkpoint==1.0.12
langsmith==0.1.147